{{ define "func-unary" -}}
func (s *{{ .ObjectName }}) {{ .MethodName }}(
	addr string,
{{- if .HasRequest }}
	in any,
{{- end }}
) (any, error) {
	_lock.RLock()
	defer _lock.RUnlock()

	var req pb.{{ .RequestType }}

	cc, err := getClientConn(addr)
	if err != nil {
		return nil, err
	}

{{- if .HasRequest }}

	jsonRemarshal(in, &req)
{{- end }}

	client := pb.New{{ .ObjectName }}(cc)
	return client.{{ .MethodName }}(_ctx, &req)
}

{{ end }}
